@font-face {
    font-family: "chancery";
    src: url("/style/chancery.ttf");
  }

@font-face {
    font-family: "georgia";
    src: url("/style/georgia.ttf");
  }

@font-face {
    font-family: "ebrima";
    src: url("/style/ebrima.ttf");
  }

@font-face {
    font-family: "gilsan";
    src: url("/style/gilsanub.ttf");
  }


* {
    margin: 0;
    padding: 0;
    font-family:"Georgia,serif";
}

a{
    color: black;
}

html 
{
    scroll-behavior: smooth;
}

.debug 
{
    display:none;
}

.unsupportedBrowser 
{
    color:white;
}

.errorPanel
{
    background:white;
}

.notReady 
{
    color: white;
    font-size:20px;
}

.mainTitle 
{
    margin:1rem;
    padding:0.5rem;
    display: flex;
    flex-direction: column;
}

.mainTitle h1
{

    width:100%;
    text-align: center;
    font-family: gilsan, 'Times New Roman', Times, serif, cursive;
    font-size:45px;
    color:rgb(255, 255, 255);
    text-shadow: 
        -4px -4px 0 rgb(42, 139, 34),
        -4px 4px 0 rgb(42, 139, 34),      
        4px 4px 0 rgb(179, 207, 76),
        4px -4px 0 rgb(179, 207, 76);
        
}

@media(min-width:1200px)
{
    .mainTitle 
    {
        justify-content: space-between;
    }

    .mainTitle h1
    {
        font-size:80px;
    }
}



p.mainTitle 
{
    font-family: Georgia, serif;
    font-size:30px;
    color:white;
}

nav 
{
    background-color: rgb(204, 226, 178);
    background: radial-gradient(circle, rgb(209, 230, 183) 47%, rgb(233, 241, 222) 60%, rgb(216, 223, 207) 87%);
    border-top: solid 2px rgb(115, 122, 124);
    border-left: solid 2px rgb(115, 122, 124);
    border-right: solid 2px rgb(4, 23, 44);
    border-bottom: solid 2px rgb(4, 23, 44);
   
    margin:0rem;
    padding:0rem;
    height: 1.8rem;
    margin-left: auto;
    margin-right:auto;
    
    font-size:1rem;
}


@media(min-width:1200px)
{
    nav 
    {
        width:25%;
    }
}


nav ul
{
    display:flex;
    justify-content: center;
    list-style-type: none;
    vertical-align: middle;
    line-height: 1.8rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
}

nav li 
{
    flex-basis: 1;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    flex-grow: 1;
}


nav li:hover
{
    text-decoration: underline;
}

nav li:not(:last-child)
{
    margin-right: 0.3rem;
    padding-right: 0.2rem;
    border-right: solid 2px rgb(115, 122, 124);
}

nav li a
{
    text-decoration: none;
}

nav .active
{    
    font-size:1.2rem;
}

body 
{
    background-color: rgb(2, 19, 6);
    background-image: url("/style/romanesco.jpg");
    /*background-image: url("/style/peppers.jpg");*/
    background-attachment: fixed;    
    background-size: cover;
}

.articlePage
{
    display:flex;
    flex-direction: column;
}

@media(min-width:1200px)
{
    .articlePage
    {
        flex-direction: row;
    }

    ul.articleList
    {
        flex-basis:25%;
        flex-grow:0;
        flex-shrink:0;
        list-style-type: none;
        padding:0.5rem;
    }
}

ul.articleList
{
    list-style-type: none;
    padding:0.5rem;
}

ul.articleList li 
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

ul.articleList li:hover 
{
    font-size:1.2rem;
}

ul.articleList li span 
{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    display:block;
}

ul.articleList li span.date
{
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    font-style: italic;
    padding-left:1rem;
}

ul.articleList li:not(:last-child)
{
    border-bottom: solid 1px darkgreen;
}

#articleBodyContainer
{
    background-color: white;
    padding:2rem;
    flex-grow: 1;
}

#articleBodyContainer p
{
    font-family: 'Ebrima';
    font-size:1.5rem;
}

#articleTitle 
{
    font-size:3rem;
    font-family: chancery, cursive;
    padding-bottom:2rem;
}

#articleBody p
{
    padding-top:1rem;
    padding-bottom:1rem;
}

#articleBody li 
{
    margin-left:2rem;
    font-size: 1.5rem;
}

#articleBody h1 
{
    font-size: 2rem;
    border-bottom: solid 1px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top:1rem;
}

.whiteBox
{
    background-color: rgb(204, 226, 178);
    background: radial-gradient(circle, rgb(235, 241, 227) 47%, rgb(233, 241, 222) 60%, rgb(216, 223, 207) 87%);
    border-top: solid 2px rgb(115, 122, 124);
    border-left: solid 2px rgb(115, 122, 124);    
    border-right: solid 2px rgb(4, 23, 44);
    border-bottom: solid 2px rgb(4, 23, 44);
   
    margin:1.5rem 1rem 1.5rem 1rem;
    padding:0.5rem;
}

.recipe h1
{
    width:100%;
    margin-top:0.3rem;
    margin-bottom:0.3rem; 
}

.recipe h1 a
{
    color:rgb(59, 66, 66);
    font-family: chancery, cursive;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1.0rem;
}

.whiteBox h2, .recipe h2
{
    color:rgb(29, 0, 0);
    font-size: medium;
    border-bottom: solid 1px black;
}

#ingredientPickerContainer h2
{
    font-size:1.5rem;
}

.recipe h2 
{
    font-style: normal;
    font-size: 0.8rem;
    text-align: left;    
    margin-left:1.0rem;
}

.recipeList
{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.recipe 
{
    width:100%;
    display:inline-block;
    background-color: rgb(204, 226, 178);
    background: radial-gradient(circle, rgb(160, 184, 130) 47%, rgb(204, 226, 178) 60%, rgb(216, 223, 207) 87%);
    margin:1rem;
    padding:0rem;
    border-top: solid 5px rgb(218, 121, 121);
    border-left: solid 5px rgb(199, 118, 118);
    border-right: solid 5px rgb(187, 96, 96);
    border-bottom: solid 5px rgb(187, 96, 96);
    border-radius: 20px;
}

@media(min-width:1200px)
{ 
    .recipe 
    {
        max-width: 30%;
    }
}

.recipe .ingredientsList
{
    padding:1rem;
    margin:0;
}

.recipeImage
{
    display:block;
}

.recipeImage img
{
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    display:block;
    width:95%;
    margin-left:auto;
    margin-right:auto;    
    border-radius:30px;
}

#ingredientPicker
{
    font-size:18pt;
    box-sizing: border-box;    
    width:100%;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    padding:0.5rem;
}

.cuisineList
{
    display:flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: space-between;
}

.cuisineList li 
{
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.cuisineList input 
{
    background-color: white;
    border-radius: 10px;
    border-top: solid 2px rgb(165, 165, 199);
    border-right: solid 2px rgb(75, 75, 85);
    border-left: solid 2px rgb(127, 127, 175);
    border-bottom: solid 2px rgb(71, 71, 83);
    padding:0.4rem 1rem 0.4rem 1rem;
    font-family: 'Ebrima';
}

.cuisineList li.topMatch input
{
    font-weight: bold;
}

.cuisineList li.otherMatch 
{
    display:none;
}

.cuisineList input.selected
{
    background-color: rgb(126, 206, 119);
    border: solid 2px rgb(127, 127, 175);
}

.cuisineList input:hover
{
    background-color: rgb(174, 174, 248);
}

.cuisineList input.selected:hover
{
    background-color: rgb(143, 206, 137);
    border: solid 2px rgb(127, 127, 175);
}

.ingredientsList
{
    display:flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin:0rem;
}

.ingredientsList li
{
    
    margin-bottom:0.5rem;
    padding:0.5rem;
    font-weight: bold;
}

.ingredientsList li:first-child
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.ingredientsList li:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.recipe .ingredientsList li 
{
    margin:0;
    padding:0 0.5rem 0 0.5rem;
    border-radius: 0;
}

.ingredientsList li input
{
    font-weight: bold;
    background-color: inherit;
    font-family: 'Ebrima';
    text-transform: capitalize;
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}

.chosenIngredient
{
    border-top:solid 1px rgb(31, 73, 15);
    border-bottom:solid 1px rgb(31, 73, 15);
    border-right:solid 1px rgb(31, 73, 15);    
    background-color: rgb(160, 238, 129);
    
}

.chosenIngredient:hover
{
    background-image: url('/style/redx.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:28px;
}

.chosenIngredient:first-child
{
    border-left:solid 1px rgb(31, 73, 15);
}

.commonIngredient input 
{
    font-weight: bold;
    background-color: inherit;
    border:0;
    padding:0;
    margin:0;
}

.commonIngredient 
{
    border:solid 1px rgb(31, 73, 15);
    background-color: rgb(161, 192, 161);
}

.veryCommonIngredient 
{
    border:solid 1px rgb(31, 73, 15);
    background-color: rgb(160, 238, 129);
}

.rareIngredient 
{
    border:solid 1px rgb(66, 8, 8);
    background-color: rgb(182, 133, 133);
}

footer
{
    position:relative;
    background-color: rgb(204, 226, 178);
    border:solid 1px rgb(37, 44, 28);
    font-size:smaller;
    margin-left:1rem;
    margin-right:1rem;
    padding:0.2rem;
    color:black;
}

#edamam-badge
{
    position:absolute;
    right:0;
    top:0;
}

.backToTopPanel
{
    cursor: pointer;
    position: fixed;    
    background-color: rgb(35, 59, 41);
    color:white;
    margin-left: auto;
    margin-right:auto;
    font-size:1.2rem;
    font-weight: bold;
    border-top: solid 2px rgb(115, 122, 124);
    border-left: solid 2px rgb(115, 122, 124);
    border-right: solid 2px rgb(4, 23, 44);
    border-bottom: solid 2px rgb(4, 23, 44);

    padding:0.5rem 1rem 0.5rem 1rem;
    top:0;
    right:0;
}

@media(min-width:1200px)
{ 

    .backToTopPanel
    {
        padding:1rem 1rem 1rem 1rem;
        top:1rem;
        left:50%;
        right:inherit;
    }

}

.cuisinePicker p 
{
    padding-top:0.5rem;
}

.loadingSpinner 
{
    width:100%;
    height: 600px;
    display:inline-block;
    margin:1rem;
    padding:0rem;
    border-top: solid 5px rgb(218, 121, 121);
    border-left: solid 5px rgb(199, 118, 118);
    border-right: solid 5px rgb(187, 96, 96);
    border-bottom: solid 5px rgb(187, 96, 96);
    border-radius: 20px;
}

@media(min-width:1200px)
{ 
    .loadingSpinner 
    {
        max-width: 30%;
    }
}

.noResults 
{
    padding: 0rem 0 2rem 2rem;
    color:white;
    font-size:1.5rem;
}

.help 
{
    color:black;
    font-size:1.5rem;
    font-family: 'Ebrima';
}

.help ul 
{
    list-style-type: none;
}

.help li 
{
    padding-left:01rem;
}

.help h1
{
    font-size: 1.0rem;
    display:inline;    
    font-family: 'Ebrima';
}

.help p
{
    font-size: 1.0rem;
    display:inline;    
    font-family: 'Ebrima';
}

.ingredientsTree li section
{
    display:inline-block;
    text-transform: capitalize;
    padding:0.2rem;
    
}

#ingredientsTreeContainer 
{
    width:100%;
    white-space: normal;
}

#ingredientsTreeContainer  ul 
{
    list-style-type:none;
}

#ingredientsTreeContainer a 
{
    text-decoration: none;
    font-family: 'Ebrima';
    text-transform: capitalize;
    white-space: nowrap;
}

#ingredientsTreeContainer>ul
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: column row;
}

#ingredientsTreeContainer li 
{
    padding-left:1.8rem;
    font-size:0.9em;
}

#ingredientsTreeContainer>ul>li 
{
    display:block;
    width:100%;
    font-size:1.2rem;
}

@media(min-width:1200px)
{
    #ingredientsTreeContainer>ul>li 
    {
        display:inline-block;
        width:auto;
        margin-right: 1rem;
        font-size:1.2rem;
    }
}


.ingredientsTree .ingredientName
{
    display:inline-block;
    padding-bottom: 0.8rem;
}

.ingredientsTree .ingredientName:hover
{
    background-color: rgb(186, 221, 186);
}

.ingredientsTree .ingredientName .percent 
{
    border-radius: 20px;
    color:white;
    font-weight: bold;
    padding: 0 10px 0 10px;
    margin-left:1rem;
}

.ingredientsTree .showMoreIngredients
{
    border:none;
    background-color: transparent;
    font-family: 'Ebrima';
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 1rem;
}

.ingredientsTree .ingredientName .percent.green
{
    border-top:solid 2px rgb(12, 87, 2);
    border-left:solid 2px rgb(27, 95, 25);
    border-bottom:solid 2px rgb(1, 46, 16); 
    border-right:solid 2px rgb(10, 39, 5);
    background-color: rgb(193, 253, 203);
    color:darkgreen;
   
}

.ingredientsTree .ingredientName .percent.yellow
{
    border-top:solid 2px rgb(94, 88, 16);
    border-left:solid 2px rgb(110, 105, 30);
    border-bottom:solid 2px rgb(49, 46, 5); 
    border-right:solid 2px rgb(49, 46, 5);
    background-color: rgb(235, 245, 146);
    color:rgb(133, 98, 32);
}

.ingredientsTree .ingredientName .percent.orange
{
    border-top:solid 2px rgb(94, 88, 16);
    border-left:solid 2px rgb(110, 105, 30);
    border-bottom:solid 2px rgb(49, 46, 5); 
    border-right:solid 2px rgb(49, 46, 5);
    background-color: rgb(255, 200, 155);
    color:rgb(133, 106, 32);
}

.ingredientsTree .ingredientName .percent.hide 
{ 
    display:none;
}